h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color: rgb(252, 0, 0);
}
canvas
{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count:infinite ;
}
@keyframes example
{
    0%   {box-shadow: 1px 1px 38px rgb(72, 255, 0)(72, 255, 0) ;}
  25%  {box-shadow:1px 1px 38px rgb(0, 225, 255);}
  50%  {box-shadow:1px 1px 38px blue;}
  100% {box-shadow:1px 1px 38px rgb(234, 75, 255);}
}